.App {
  text-align: center;
}

p, h2, h3, h4, h5, h6 {
  margin: 0.1rem
}

h1 {
  margin-bottom: 0.2rem;
}

h4 {
  margin-top: 0.4rem;
  margin-bottom: 0.2rem;
}

.role-year {
  display: flex;
  flex-direction: row;
  justify-content: center;
  opacity: 0;
  transition: 1s;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(300px, auto);
  grid-gap: 4rem;
  margin: 0 auto;
  padding: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}


.projects {
  background-color: #b4c3e2;
  box-shadow: 3px 3px rgb(150, 135, 135);
  border-radius: 1rem;
  display: grid;
  grid-template-areas: 
    "top" 
    "middle"
    "bottom"
}

.top-container {
  grid-area: top;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}


.middle-container {
  grid-area: middle;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  
   position: relative;
}

.bottom-container {
  grid-area: bottom;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 0
}

.projects:hover {
  background-color: rgb(225, 201, 201);
  transition: 0.4s;
}

.projects:hover .project-description {
  transition: 1s;
  display: block
}

.projects:hover .role-year{
  display: flex;
  flex-direction: row;
  opacity: 1;
  transition: 1s
}

.projects:hover .project-image {
  transition: .4s;
  opacity: 0
}

.projects:hover .bottom-container {
  transition: .4s;
  opacity: 1
}


.project-description {
  position: absolute;
  transition: 1s;
  display: none
}

.image-text-container {
  display: flex;
  justify-content: space-evenly;
  margin-left: 0.2rem;
  margin-right: 0.2rem

}


.project-image {
  position: absolute;
  top: -70px;
  /* margin-left: 5%; */

  height: 310%;

  width: auto;

  transition: 1s
}


/* .project-image {
  position: absolute;
  top: -40px;
  left: 0px;
  display: flex;
  margin: auto;
  width: 80%;
  height: auto;
  max-height: 60vh;
  transition: 1s;
} */


.headshot-image {
  width: 30vw;
  height: 100%;
  border-radius: 4rem;
}


.project-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-left: 3rem;
  margin-right: 3rem;
}

.project-button {
  background-color: #7fbbeb;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: 10px;
  font-size: 1.2rem;
}


.project-button:hover {
  background-color: #4CAF50;
  color: white;
}


.nav-button {
  background-color: #4b708e;
  color: white;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: 10px;
  font-size: 1.2rem;
}


.nav-button:hover {
  background-color: #4CAF50;
  color: white;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.page {
  margin-top: 4rem;
  margin-bottom: 4rem;
}