.App {
  text-align: center;
}

p, h2, h3, h4, h5, h6 {
  margin: 0.1rem
}

h1 {
  margin-bottom: 0.2rem;
}

h4 {
  margin-top: 0.4rem;
  margin-bottom: 0.2rem;
}

.role-year {
  display: flex;
  flex-direction: row;
  justify-content: center;
  opacity: 0;
  transition: 1s;
  position: absolute;
  margin-left: 15px;
  margin-top: 15px;
}

.project-name {
  display: flex;
  flex-direction: row;
  justify-content: start;
  opacity: 1;
  transition: .3s;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(300px, auto);
  grid-gap: 4rem;
  margin: 0 auto;
  padding: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}


.projects {
  background-color: #b4c3e2;
  box-shadow: 3px 3px rgb(150, 135, 135);
  border-radius: 1rem;
  display: grid;
  grid-template-areas: 
    "top" 
    "middle"
    "bottom"
}

.top-container {
  grid-area: top;
  display: flex;
  flex-direction: column;
  justify-content: center space-evenly;
  /* margin-left: 0.4rem;
  margin-right: 0.4rem; */
  height: 50%;
  border-bottom: 0.1rem solid grey;
  background-color: rgb(170, 182, 206);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}


.middle-container {

  grid-area: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
   position: relative;
}

.bottom-container {
  grid-area: bottom;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 0
}

.projects:hover {
  background-color: rgb(249, 214, 214);
  transition: 0.4s;
  cursor: context-menu 
}

.projects:hover .top-container {
  background-color: rgb(225, 201, 201);
}

.projects:hover .project-description {
  transition: 1s;
  display: block
}

.projects:hover .role-year{
  display: flex;
  flex-direction: row;
  opacity: 1;
  transition: 1s
}

.projects:hover .project-image {
  transition: .4s;
  opacity: 0
}

.projects:hover .project-name{
  transition: .4s;
  opacity: 0
}

.projects:hover .bottom-container {
  transition: .4s;
  opacity: 1
}


.project-description {
  position: absolute;
  transition: 1s;
  display: none;
  line-break: strict;
  white-space: pre-wrap;
  top: -40px;
  margin-left: 1rem;
  margin-right: 1rem
}



.image-text-container {
  display: flex;
  justify-content: space-evenly;
  margin-left: 0.2rem;
  margin-right: 0.2rem

}


.project-image {
  position: absolute;
  top: -40px;

  opacity: 0.8;

  height: auto;
  max-height: 300%;
  margin-left: 15px;
  margin-right: 15px;

  width: 80%;

  transition: 1s;
  z-index: 1;
}



.headshot-image {
  width: 30vw;
  height: 100%;
  border-radius: 4rem;
}


.project-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-left: 3rem;
  margin-right: 3rem;
  z-index: 2;
}

.project-button {
  background-color: #7fbbeb;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: 10px;
  font-size: 1.2rem;
}


.project-button:hover {
  background-color: #4CAF50;
  color: white;
}


.nav-button {
  background-color: #4b708e;
  color: white;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: 10px;
  font-size: 1.2rem;
}


.nav-button:hover {
  background-color: #4CAF50;
  color: white;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.page {
  margin-top: 6rem;
  margin-bottom: 4rem;
}



@media only screen and (max-width: 780px) {

  .project-image {
    position: absolute;
    top: -40px;

    opacity: 0.8;
  
    height: auto;
    max-height: 300%;
    margin-left: 20px;
    margin-right: 20px;
  
    width: 60%;
  
    transition: 1s;
    z-index: 1;
  }


}