body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;

  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

}


:root {
  --baby-blue: rgba(150, 194, 222, 1.0);
  --sky-blue: rgb(28, 37, 52);
  --lightest-color: rgb(219, 217, 227);
  /* --background: rgb(173, 180, 191);  */
  --background: rgb(94, 105, 122); 
  /* --navy-blue: rgb(50, 62, 90); */
  --navy-blue: rgb(42, 50, 69);
  --shadow: rgb(83, 92, 117);
  --shadow-color: rgb(28, 30, 34);
  --pale-blue:  rgb(219, 217, 227);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
